%nav.col-md-2.d-none.d-md-block.bg-light.sidebar
	.sidebar-sticky
		%ul.nav.flex-column
			%li.nav-item
				%a.nav-link.active{:href => admin_invitations_path}
					Invitations
		%ul.nav.flex-column
			%li.nav-item
				%a.nav-link{:href => admin_coupons_path}
					Coupons
